<% include partials/header %>
    <div class="container">     
        <div class="well text-center">
            <img src="<%= movieData.Poster %>" alt="image not found">
            <h5><%= movieData.Title %></h5>
        </div>
    </div>   
<% include partials/footer %>