<% include partials/header %>

    <div id="show-header">
            <h3 class="text-center">Enter The Movie You Want To Search</h3>
            <form id="searchForm" action="/show_movies" method="GET">
            <input class="form-control" type="text" name="search" placeholder="<%=search%>">
        </form>
    </div>

    <div class="container">
        <div id="movies" class="row">      
            <% movieData["results"].forEach(function(movie){ %>
                <div class="col-sm-6 col-md-4 col-lg-3">
                    <div class="my_card">
                        <a href="#">
                            <img src="https://image.tmdb.org/t/p/w500//<%= movie.poster_path%>" alt="image not found">
                        </a>
                        <div class=overlay>
                            <div class="container-fluid">
                                <h5 class="font-weight-normal text-left"><%= movie.original_title%><br></h5> 
                                <div class="text-right"><a href="#">read more</a></div>
                            </div >
                        </div>
                    </div>
                </div>
            <%  }) %>
        </div>
    </div>    

    <button class="btn btn-primary"><a href="/">Go Back</a></button>


<% include partials/footer %>



