<% include partials/header %>

<h1>MOVIE LIST: </h1>
<ul>
    <% movieData["Search"].forEach(function(movie){ %>
        <li><%= movie["Title"] %></li>
    <%  }) %>
</ul>


<a href="/">Go Back</a>

<% include partials/footer %>